
div.container {
  background-color:#F6F6F6;
}
li {
  margin-left: 30px;
  margin-bottom: 20px;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 14px;
}

div.box {
  margin-bottom: 20px;
  margin-left: 10px;
}

div.contact {
  margin-top: 20px;
}
